
<div class="w-full flex items-center justify-center p-5 ">
    <div class="w-[700px] h-[700px] flex justify-center bg-slate-50 p-10 rounded-xl hover:scale-[101%] transition duration-200">
        <form class="flex flex-col gap-3  w-[500px]">
            <h1>Make a transaction</h1>
            <div > 
            <label for="amount" class=" text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2 ">amount</label>
            <input  type="text" id="amount" class=" rounded border border-gray-200 text-sm w-[500px] font-normal  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-transparent outline-0">
            
            <label for="toUserId" class=" text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2 ">Enter User Id of reciever</label>
            <input  type="text" id="amount" class=" rounded border border-gray-200 text-sm w-[500px] font-normal  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-transparent outline-0">
            
            <label for="description" class=" text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2 ">Description</label>
            <input  type="text" id="amount" class=" rounded border border-gray-200 text-sm w-[500px] font-normal  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] focus:ring-2 ring-offset-2  ring-transparent outline-0">
            
            </div>
            
          
            <button  type="submit" class="bg-[#7747ff] w-max m-auto px-6 py-2 rounded text-white text-sm font-normal">Submit</button>
          
          </form>
</div>
